* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: 0;
  background-color: transparent;
}

article {
  display: flex;
}

.Container {
  display: flex;
}

body {
  text-align: center;
  background-color: antiquewhite;
}

.click-count-text {
  font-size: 60px;
  color: aliceblue;
  background-color: rgba(0, 0, 0, 0.541);
}

.btn {
  border: 5cm;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

.grandma {
  border: 1px black solid;
  padding: 2ch;
  margin: 1ch;
}

.farm {
  border: 1px black solid;
  padding: 2ch;
  margin: 1ch;
}

.mine {
  border: 1px black solid;
  padding: 2ch;
  margin: 1ch;
}

.factory {
  border: 1px black solid;
  padding: 2ch;
  margin: 1ch;
}

.bank {
  border: 1px black solid;
  padding: 2ch;
  margin: 1ch;
}

.ads {
  border: 1px black solid;
  padding: 2ch;
  margin: 1ch;
}

.upgrade {
  display: flex;
  flex-direction: column;
  width: 30%;
  justify-content: center;
}

.upgrade button {
  width: 8em;
}

.flexy {
  display: grid;
  grid-auto-flow: column;
}

.spaced {
  margin-top: 2em;
}



.flexy img {
  width: 100%;
}
